<div class="home-component">
    <p class="instructions">Fill out the address form and click Validate!</p>
    <form name="addressForm" class="form">
        <div>
            <label>Address Line 1</label>
            <input />
        </div>
        <div>
            <label>Address Line 2</label>
            <input />
        </div>
        <div>
            <label>City</label>
            <input />
        </div>
        <div>
            <label>State/Province/Region</label>
            <input />
        </div>
        <div>
            <label>ZIP/Postal Code</label>
            <input />
        </div>
        <div>
            <label>Country</label>
            <input />
        </div>
    </form>
    <button>Validate!</button>
</div>
